.row{
  margin: 0;
}

#create{
  width: 100%;
  background: #f2f2f2;
  padding: 20px;
}

footer {
  padding: 50px 0;
}

footer .madeby{
  text-align: right;
}

.patricia-face {
  background: url("../images/patricia.jpg") no-repeat left top;
  background-size: cover;
  width: 770px;
  height: 403px;
  margin: 0;
  position: relative;
  float: left;
}

.patricia-face textarea {
  width: 100%;
  height: 100%;
  border: none;
  background: transparent;
  resize: none;
  position: absolute;
  left: 0;
  z-index: 10;
}

.patricia-face textarea.top {
  top: 0;
}

.patricia-face textarea.bottom {
  bottom: 0;
}

.patricia-face span {
  width: 96%;
  margin: 0 2%;
  height: 100%;
  border: none;
  background: transparent;
  resize: none;
  position: absolute;
  left: 0;
  z-index: 3;
  font-family: 'Archivo Black', sans-serif;
  font-size: 64px;
  line-height: 64px;
  color: #fff;
  text-align: center;
}

.patricia-face span.top {
  top: 0;
}

.patricia-face span.bottom {
  bottom: 0;
}

.share{
  position: relative;
  height: 100%;
}

.share button {
  position: absolute;
  top: 80px;
  left: 50%;
  margin-left: -100px;
  width: 200px;
  z-index: 1000;
}

#list{
  padding: 40px 10px;
}

#list .row{
  margin: 0 0 25px 0;
}

#list .row .thumbnail{
  float: left;
  margin: 0 20px 0 0;
}

