.camera-container {
  box-sizing: content-box;
  border: 5px solid #333;
  background: #333;
  width: 640px;
  margin: 0 auto;
  -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.75); }
  .camera-container .video-container {
    position: relative;
    margin: 0 auto;
    width: 640px;
    height: 480px; }
    .camera-container .video-container .video-box {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 90;
      width: 100%;
      height: 100%; }
    .camera-container .video-container .border-decorator {
      position: absolute;
      top: 5px;
      left: 5px;
      height: 470px;
      width: 630px;
      border: 5px solid #fff;
      z-index: 100; }
    .camera-container .video-container .si-podemos-logo {
      position: absolute;
      width: 150px;
      height: 150px;
      bottom: 15px;
      left: 50%;
      margin-left: -75px;
      z-index: 300; }
    .camera-container .video-container .lisan-logo {
      position: absolute;
      width: 104px;
      height: 50px;
      top: 20px;
      left: 20px;
      z-index: 305; }
    .camera-container .video-container .shotCounter {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 999999999;
      width: 100%;
      height: 100%;
      background: #fff;
      opacity: 0; }
      .camera-container .video-container .shotCounter .number {
        background: url(../images/loading.gif) no-repeat center;
        width: 200px;
        height: 200px;
        position: relative;
        top: 50%;
        left: 50%;
        margin-top: -100px;
        margin-left: -100px;
        line-height: 200px;
        text-align: center;
        font-size: 100px; }
  .camera-container .photo-shooter {
    padding: 10px 0;
    width: 640px; }
    .camera-container .photo-shooter button i:before {
      font-size: 48px; }

#canvas {
  position: absolute;
  left: -700px;
  top: 0; }

.preview {
  margin: 20px 0 0 0;
  text-align: center; }

.navbar {
  height: 40px; }

#mainLoader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.8;
  z-index: 9999999;
  display: none; }
  #mainLoader span {
    position: absolute;
    left: 50%;
    top: 50px;
    font-size: 24px;
    color: #fff;
    margin-left: -12px; }
  #mainLoader h6 {
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 26px;
    margin-top: 100px; }

#shareModal {
  z-index: 999999999; }
  #shareModal .modal-dialog {
    width: 700px; }
  #shareModal .share-container {
    padding: 15px 0; }
    #shareModal .share-container .btn {
      cursor: pointer;
      text-transform: uppercase;
      background-color: #3b5999;
      border: 1px solid #3b5999;
      font-size: 26px;
      line-height: 36px;
      font-family: 'Open Sans',sans-serif;
      vertical-align: top;
      text-align: left;
      box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.3) inset; }
    #shareModal .share-container .btn:hover,
    #shareModal .share-container .btn:focus {
      background-color: #30487c;
      border-color: #2a3f6d; }
    #shareModal .share-container .btn i {
      font-size: 24px;
      line-height: 36px;
      vertical-align: bottom; }

/*# sourceMappingURL=main.css.map */
